<div class="row">
  <h1 class="col-sm-6" id="title">{{title}}</h1>
  <a href="/" class="col-sm-6" id="home">
    <i class="fa fa-home"></i>
  </a>
</div>

<div class="row">
    <!-- <ul> -->
      {{#each movData}}
      <div class="col-sm-4 movie">
        <!-- <li> -->
          <h4>{{ movie_name }}</h4>
          <a href="getMovie/{{movie_id}}"><img src="images/{{movie_picture}}" alt="{{movie_name}} poster" class="movieThumb"></a>
          <a id= "{{ movie_id }}" class="singleMovie btn" href="getMovie/{{movie_id}}">View Movie</a>
        <!-- </li> -->
      </div>
      {{/each}}
    <!-- </ul> -->
</div>
